<div class="card text-primary bg-transparent mb-3">
  <div class="card-header">Platos</div>
  <div class="card-body">
    <h5 class="card-title">Lista de Platos</h5>
    <div class="my-2 text-left">
      <button
        class="btn btn-rounded btn-primary"
        type="button"
        [routerLink]="['/formulario']"
      >
        Añadir Plato
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plato of platos">
          <td>{{ plato.id }}</td>
          <td>{{ plato.nombre }}</td>
          <td>{{ plato.cantidad }}</td>
          <td>{{ plato.precio }}</td>
          <td>
            <button
              class="btn btn-primary"
              [routerLink]="['/formulario', plato.id]"
            >
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
